:root {
    --light: #8bc34a;
    --dark: #555;
}
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

.logo {
    width: 160px;
    margin-right: 40px;
}
  
  h1{
      color: #bebebe;
  }

  a {
    text-decoration: none !important;
  }
  
  p {
      word-spacing: 2px;
      color: var(--dark);
      text-align: justify;
      text-justify: inter-word;
  }
  
  .bottom-text{
    color: #5c5c5c;
  }
  
  body{
      height: 100vh;
      width: 100%;
      padding:0;
      margin:0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      position: relative;
      background-color: #eee !important;
  }
.nav {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}


.nav a {
    color:  var(--dark) !important;
    margin: 5px 25px;
    font-size: 16px;
    font-weight: 800;
}

.nav a:hover {
    color: var(--light) !important;
}