:root {
  --light: #41ab5d;
  --dark: #238b45;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h4 a{
    color: var(--dark);
    text-decoration: underline;
}

h4 a:hover{
    color: var(--light);
    text-decoration: underline;
}


body{
    height: 100vh;
    width: 100%;
    padding:0;
    margin:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("bg.jpeg");
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

nav {
    position: relative;
    width: 100%;
    margin-top: 40px;
}



.nav {
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    position: relative;
}


ul a {
    text-align: center;
    display: inline-block;
    color: var(--dark) !important;
    margin: 5px 25px;
    font-size: 16px;
    font-weight: 800;
    text-decoration:none;
}

ul a:hover {
    color: var(--light) !important;
}

#projectButton {

    color: var(--light) !important;

}


#nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 0;
    }
