:root {
    --light: #7b5;
    --dark: #555;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 160px;
    margin-right: 40px;
}


h5, h6 {
    color: var(--dark);
    font-weight: bold !important;
}

p {
    word-spacing: 4px;
    color: var(--dark);
}

a {
  text-decoration: none !important;
}

.contact {
  color: var(--dark);
}

body{
    height: 100vh;
    width: 100%;
    padding:0;
    margin:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    background-color: #eee !important;
}

.nav {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.nav a {
    color:  var(--dark) !important;
    margin: 5px 25px;
    font-size: 16px;
    font-weight: 800;
}

.nav a:hover {
    color: var(--light) !important;
}

#aboutButton {

    color: var(--light) !important;

}

.links {
    margin: 10px 0px;
}
.links a{
    margin: 0px 30px 0px 0px;
}
.links i{
    font-size: 30px;
    color: var(--dark);
    transition: all 0.2s ease;
}
.links i:hover{
    cursor: pointer;
}

.links .fa-github:hover{
    color: #1b1b1b;
}
 
.links .fa-youtube:hover{
    color: #CD201F;
}

.links .fa-linkedin:hover{
    color: #0077B5;
}

.links .fa-facebook:hover{
    color: #4267B2;
}
