:root {
    --light: #00d55f;
    --dark: #00b551;
  }
  
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  h1{
      color: #bebebe;
  }

  a {
    text-decoration: none;
  {
  
  p {
      word-spacing: 2px;
      color: #222;
      text-align: justify;
      text-justify: inter-word;
  }
  
  .bottom-text{
    color: #5c5c5c;
  }
  
  body{
      height: 100vh;
      width: 100%;
      padding:0;
      margin:0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../bg.jpg");
      background-position: center center;
      background-attachment: fixed;
      position: relative;
  }
  
  nav {
      position: relative;
      width: 100%;
      margin-top: 40px;
  }
  
  
  
  .nav {
      padding: 0;
      width: 100%;
      text-align: center;
      background-color: transparent;
      position: relative;
  }
  
  
  ul a {
      text-align: center;
      display: inline-block;
      color: var(--dark) !important;
      margin: 5px 25px;
      font-size: 16px;
      font-weight: 800;
  }
  
  ul a:hover {
      color: var(--light) !important;
  }
  
  
  #nav {
          display: flex;
          flex-direction: row;
          justify-content: center;
          top: 0;
      }
